/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* import css style from another file */
@import url("/style/appearance.css");
@import url("/style/button.css");
@import url("/style/nav.css");
@import url("/style/viewlist.css");
@import url("/style/authorization.css");
@import url("/style/aboutus.css");
@import url("/style/plan.css");
@import url("/style/footer.css");

/* Set the default size of website */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Button toggle dark and light mode */
:root {
  --background-color: #212529;
  --background-form-color: #343a40;

  --text-color: white;
  --date-color: #bdc3c7;

  --card-bg: rgba(255, 255, 255, 0.1);
  --card-border: 1px solid rgba(255, 255, 255, 0.2);
  --shadow-color: rgba(0, 0, 0, 0.2);

  --primary-bg: #55f2c3;
  --primary-color: black;
  --primary-hover-bg: #1b263b;
  --primary-hover-color: white;

  --secondary-bg: #1b263b;
  --secondary-color: white;
  --secondary-hover-bg: white;
  --secondary-hover-color: black;

  --delete-bg: #1b263b;
  --delete-color: white;
  --delete-hover-bg: #e53e3e;
  --success-bg: #48bb78;
  --success-hover-bg: #38a169;
}

/* light mode appearance */
:root.light-mode {
  --background-color: white;
  --background-form-color: white;

  --text-color: #2c3e50;
  --date-color: white;

  --card-bg: rgba(255, 255, 255, 0.258);
  --card-border: 1px solid rgba(5, 51, 107, 0.41);
  --shadow-color: rgba(0, 0, 0, 0.1);

  --primary-bg: #003b7b;
  --primary-color: white;
  --primary-hover-bg: white;
  --primary-hover-color: black;

  --secondary-bg: black;
  --secondary-color: white;
  --secondary-hover-bg: #003b7b;
  --secondary-hover-color: white;

  --red-bg: white;
  --red-color: black;
  --red-hover-color: white;
  --red-hover-bg: #e53e3e;
  --green-bg: #0aca5a;
  --green-hover-bg: #56ec94;
}

/* Body style apply to all the pages */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
  max-width: 1440px;
  padding: 16px;
  margin: 0 auto;
}

/* Title style */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 64px;
  transition-duration: 0.3s;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-top: 64px;
}

.hero-section img {
  width: 100%;
  max-width: 500px;
  transition: 0.3s;
}

.text-content {
  max-width: 500px;
  padding: 16px;
  text-align: start;
}

.text-content button {
  margin-top: 16px;
}

.text-content p {
  margin: 16px 0;
}

/* User feedback card container */
.user-card-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 16px;
  padding: 16px;
  margin-top: 16px;
}

/* User feedback card implement the animation move in from the bottom */
.user-feedback-card {
  background: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  backdrop-filter: blur(10px);
  border: var(--card-border);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  animation: moveUp 1s ease-out forwards;
  animation-delay: var(--animation-delay);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@keyframes moveUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* User feedback card implement the animation move in from the bottom one by one */
.user-feedback-card:nth-child(1) {
  --animation-delay: 0.2s;
}

.user-feedback-card:nth-child(2) {
  --animation-delay: 0.4s;
}

.user-feedback-card:nth-child(3) {
  --animation-delay: 0.6s;
}

.user-feedback-card:nth-child(4) {
  --animation-delay: 0.8s;
}

.user-feedback-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.user-feedback-card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-feedback-card h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.user-feedback-card p {
  font-size: 14px;
  line-height: 1.6;
}

.user-header h1 {
  text-align: center;
  margin: 64px 32px 0;
}

/* card alignment with grid column with 3 and next card will go down*/
#cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 16px 0;
  gap: 16px;
  padding: 16px 0;
  transition-duration: 0.3s;
  align-items: start;
}

/* Media queries for responsive design in tablets */
@media screen and (max-width: 1024px) {
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .text-content {
    text-align: center;
  }
  .hero-image {
    margin-top: 16px;
  }
  .hero-image img {
    width: 100%;
  }
  .text-content p {
    margin: 0 0 16px;
  }
  .user-header h1 {
    margin: 0;
  }
  .user-card-container {
    grid-template-columns: repeat(2, 3fr);
    margin-top: 0;
  }
  .bebas-neue-regular {
    font-size: 48px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin: 16px 0;
  }
  .nav-links,
  .nav-buttons {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu-content {
    display: block;
  }
  /* Card container in viewlist */
  #cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
    transition-duration: 0.3s;
  }
  .form-container {
    padding: 16px;
    transition-duration: 0.3s;
  }
  h1 {
    padding: 16px;
    transition-duration: 0.3s;
  }
  .nav-links,
  .nav-buttons {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu-content {
    display: block;
  }

  .overlay {
    display: block;
  }
}

/* Media queries for responsive design in mobile */
@media screen and (max-width: 768px) {
  .user-card-container {
    grid-template-columns: repeat(1, 3fr);
    margin-top: 0;
  }
  /* Card container in viewlist */
  #cardsContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 16px;
    transition-duration: 0.3s;
  }
  .form-container {
    padding: 16px;
    transition-duration: 0.3s;
  }
  h1 {
    padding: 16px;
    transition-duration: 0.3s;
  }
}
