/* Set the default size of website */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Button toggle dark and light mode */
:root {
  --background-color: #212529;
  --text-color: #ecf0f1;
  --card-background-color: #34495e;
  --nav-button-bg: #3498db;
  --nav-button-color: white;
  --input-background-color: #ecf0f1;
  --input-text-color: #2c3e50;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --button-primary-bg: #ffffff;
  --button-primary-color: black;
  --button-primary-hover-bg: #1b263b;
  --button-primary-hover-color: white;
  --button-secondary-bg: #1b263b;
  --button-secondary-color: white;
  --button-secondary-hover-bg: white;
  --button-secondary-hover-color: black;
  --button-danger-bg: #1b263b;
  --button-danger-color: white;
  --button-danger-hover-bg: #e53e3e;
  --button-success-bg: #48bb78;
  --button-success-hover-bg: #38a169;
  --user-feedback-card-bg: rgba(255, 255, 255, 0.1);
}

:root.light-mode {
  --background-color: #adb5bd;
  --text-color: #2c3e50;
  --card-background-color: #bdc3c7;
  --nav-button-bg: #3498db;
  --nav-button-color: #3498db;
  --input-background-color: #fff;
  --input-text-color: #2c3e50;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --button-primary-bg: #1b263b;
  --button-primary-color: white;
  --button-primary-hover-bg: white;
  --button-primary-hover-color: black;
  --button-secondary-bg: #000000;
  --button-secondary-color: white;
  --button-secondary-hover-bg: #003b7b;
  --button-secondary-hover-color: white;
  --button-danger-bg: white;
  --button-danger-color: black;
  --button-danger-hover-color: white;
  --button-danger-hover-bg: #e53e3e;
  --button-success-bg: #2ecc71;
  --button-success-hover-bg: #27ae60;
  --user-feedback-card-bg: rgba(255, 255, 255, 0.258);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  padding: 20px;
  transition: 0.5s;
}

.container {
  max-width: 1440px;
  padding: 16px;
  margin: 0 auto;
}

h1,
.bebas-neue-regular {
  transition-duration: 0.3s;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 64px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-top: 64px;
}

.text-content {
  max-width: 500px;
  padding: 16px;
  text-align: start;
}

.text-content button {
  margin-top: 16px;
}

.text-content p {
  margin: 16px 0;
}

@media screen and (max-width: 1024px) {
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .text-content {
    text-align: center;
  }
  .hero-image {
    margin-top: 16px;
  }
  .hero-image img {
    width: 100%;
  }
  .text-content p {
    margin: 0 0 16px;
  }
}

.user-card-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 16px;
  padding: 16px;
}

@media screen and (max-width: 1024px) {
  .user-card-container {
    grid-template-columns: repeat(2, 3fr);
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .user-card-container {
    grid-template-columns: repeat(1, 3fr);
    margin-top: 0;
  }
}

.user-feedback-card {
  background: var(--user-feedback-card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  animation: moveUp 1s ease-out forwards;
  animation-delay: var(--animation-delay);
  backface-visibility: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@keyframes moveUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.user-feedback-card:nth-child(1) {
  --animation-delay: 0.2s;
}

.user-feedback-card:nth-child(2) {
  --animation-delay: 0.4s;
}

.user-feedback-card:nth-child(3) {
  --animation-delay: 0.6s;
}

.user-feedback-card:nth-child(4) {
  --animation-delay: 0.8s;
}

.user-feedback-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user-feedback-card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-feedback-card h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.user-feedback-card p {
  font-size: 14px;
  line-height: 1.6;
}

.content-container {
  display: flex;
  max-width: 1440px;
  height: 1024px;
  flex-direction: column;
  justify-content: space-between;
}

.user-header h1 {
  text-align: center;
  margin: 64px 32px 0;
}

@media screen and (max-width: 1024px) {
  .user-header h1 {
    margin: 0;
  }
}

.create-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.5s;
}

.modal-content {
  background-color: var(--card-background-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  animation: slideIn 0.5s;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--text-color);
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}
