/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* import css style from another file */
@import url("/style/appearance.css");
@import url("/style/button.css");
@import url("/style/nav.css");
@import url("/style/viewlist.css");
@import url("/style/authorization.css");
@import url("/style/form.css");

/* Set the default size of website */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Button toggle dark and light mode */
:root {
  --background-color: #212529;
  --text-color: #ecf0f1;
  --date-color: #bdc3c7;
  --card-bg: rgba(255, 255, 255, 0.1);
  --card-background-color: #2c3e50;
  --input-background-color: #ecf0f1;
  --input-text-color: #2c3e50;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --primary-bg: #55f2c3;
  --primary-color: black;
  --primary-hover-bg: #1b263b;
  --primary-hover-color: white;
  --secondary-bg: #1b263b;
  --secondary-color: white;
  --secondary-hover-bg: white;
  --secondary-hover-color: black;
  --delete-bg: #1b263b;
  --delete-color: white;
  --delete-hover-bg: #e53e3e;
  --success-bg: #48bb78;
  --success-hover-bg: #38a169;
}

/* light mode appearance */
:root.light-mode {
  --background-color: #adb5bd;
  --text-color: #2c3e50;
  --date-color: white;
  --card-bg: rgba(255, 255, 255, 0.258);
  --card-background-color: white;
  --input-background-color: #fff;
  --input-text-color: #1b263b;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --primary-bg: #003b7b;
  --primary-color: white;
  --primary-hover-bg: white;
  --primary-hover-color: black;
  --secondary-bg: #000000;
  --secondary-color: white;
  --secondary-hover-bg: #003b7b;
  --secondary-hover-color: white;
  --delete-bg: white;
  --delete-color: black;
  --delete-hover-color: white;
  --delete-hover-bg: #e53e3e;
  --success-bg: #2ecc71;
  --success-hover-bg: #27ae60;
}

/* Body style apply to all the pages */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  padding: 16px;
  transition: 0.5s;
}

.container {
  max-width: 1440px;
  padding: 16px;
  margin: 0 auto;
}

/* Title style */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 64px;
  transition-duration: 0.3s;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-top: 64px;
}

.text-content {
  max-width: 500px;
  padding: 16px;
  text-align: start;
}

.text-content button {
  margin-top: 16px;
}

.text-content p {
  margin: 16px 0;
}

/* User feedback card container */
.user-card-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 16px;
  padding: 16px;
}

/* User feedback card implement the animation move in from the bottom */
.user-feedback-card {
  background: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  animation: moveUp 1s ease-out forwards;
  animation-delay: var(--animation-delay);
  backface-visibility: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@keyframes moveUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* User feedback card implement the animation move in from the bottom one by one */
.user-feedback-card:nth-child(1) {
  --animation-delay: 0.2s;
}

.user-feedback-card:nth-child(2) {
  --animation-delay: 0.4s;
}

.user-feedback-card:nth-child(3) {
  --animation-delay: 0.6s;
}

.user-feedback-card:nth-child(4) {
  --animation-delay: 0.8s;
}

.user-feedback-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.user-feedback-card img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-feedback-card h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.user-feedback-card p {
  font-size: 14px;
  line-height: 1.6;
}

.content-container {
  display: flex;
  max-width: 1440px;
  height: 1024px;
  flex-direction: column;
  justify-content: space-between;
}

.user-header h1 {
  text-align: center;
  margin: 64px 32px 0;
}

/* Media queries for responsive design in tablets */
@media screen and (max-width: 1024px) {
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .text-content {
    text-align: center;
  }
  .hero-image {
    margin-top: 16px;
  }
  .hero-image img {
    width: 100%;
  }
  .text-content p {
    margin: 0 0 16px;
  }
  .user-header h1 {
    margin: 0;
  }
  .user-card-container {
    grid-template-columns: repeat(2, 3fr);
    margin-top: 0;
  }
  .bebas-neue-regular {
    font-size: 48px;
  }
}

/* Media queries for responsive design in mobile */
@media screen and (max-width: 768px) {
  .user-card-container {
    grid-template-columns: repeat(1, 3fr);
    margin-top: 0;
  }
}
