:root {
  --linear-teal: linear-gradient(rgba(0, 0, 0, 0.5), rgba(34, 67, 66, 0.5));
}
/* light mode root */
:root.light-mode {
  --linear-teal: linear-gradient(rgba(0, 0, 0, 0.5), rgba(149, 153, 152, 0.5));
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  background: var(--linear-teal),
    url("/assets/icons/moon.jpg") no-repeat center center/cover;
  color: white;
  height: 70vh;
  border-radius: 16px;
  margin-top: 32px;
}

.hero-content,
.hero-image-abt {
  /* flex 1 is used to make the element take up 50% of the available space */
  flex: 1;
}

.hero-image-abt img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-member {
  text-align: center;
  margin: 16px;
  max-width: 200px;
}

.team-member img {
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.team-member h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.team-member p {
  font-size: 16px;
  color: #777;
}

/* User feedback card implement the animation move in from the bottom */
.about-us,
.team,
.values,
.mission {
  background: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  padding: 16px;
  margin: 16px 0;
  transform: translateY(100px);
  opacity: 0;
  animation: moveUp 1s ease-out forwards;
  animation-delay: var(--animation-delay);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@keyframes moveUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-us {
  --animation-delay: 0.2s;
}

.values {
  --animation-delay: 0.4s;
}

.mission {
  --animation-delay: 0.6s;
}

.team {
  --animation-delay: 0.8s;
}
