/* For the create and edit page */
.create-container,
.edit-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-form-color);
  /* space from the navigation */
  margin-top: 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: var(--text-color);
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.error-message {
  color: red;
  display: none;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 8px;
}

.form-btn {
  margin-top: 10px;
}

.card {
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px var(--shadow-color);
  color: var(--text-color);
}

/* style on each diary card */
.card {
  background: var(--card-bg);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px); /* Hover effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hover shadow */
  transition: 0.3s;
}

.card-header,
.card-body,
.card-footer {
  margin-bottom: 16px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.card-date {
  font-size: 14px;
}

.card-category {
  font-size: 16px;
  color: var(--text-color);

}

.card-note {
  font-size: 16px;
  color: var(--text-color);
  white-space: nowrap; /* Single line */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Ellipsis for overflow */
  margin: 16px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

/* card alignment with grid column with 3 and next card will go down*/
#cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 16px 0;
  gap: 16px;
  padding: 16px 0;
  transition-duration: 0.3s;
  align-items: start;
}

/* Create Responsive for tablet screen on the grid card */
@media screen and (max-width: 1024px) {
  #cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 16px;
    transition-duration: 0.3s;
  }
  .form-container {
    padding: 16px;
    transition-duration: 0.3s;
  }
  h1 {
    padding: 16px;
    transition-duration: 0.3s;
  }
}

/* Create Responsive for mobile screen on the grid card */
@media screen and (max-width: 768px) {
  #cardsContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 16px;
    transition-duration: 0.3s;
  }
  .form-container {
    padding: 16px;
    transition-duration: 0.3s;
  }
  h1 {
    padding: 16px;
    transition-duration: 0.3s;
  }
}

/* Styling the expand modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.5s;
}

.modal-content {
  background-color: var(--card-background-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  animation: slideIn 0.5s;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
