:root {
  --input-border-color: #ccc;
  --input-focus-border-color: #016fb8;
  --primary-color: #3498db;
  --primary-bg: #3498db;
  --primary-bg-hover: #2980b9;
  --error-color: #e74c3c; /* Error color */
  --text-color: #fff; /* Text color */
}

.auth-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.auth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 900px;
  background-color: #343a40;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.form-section,
.image-section {
  flex: 1 1 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--text-color);
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: var(--input-focus-border-color);
  outline: none;
  animation: wave-animation 1s ease-in-out;
}

@keyframes wave-animation {
  0%,
  100% {
    border-width: 1px;
  }
  50% {
    border-width: 2px;
  }
}

.button-success {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-success:hover {
  background-color: var(--primary-bg-hover);
}

.text {
  text-align: center;
  margin-top: 20px;
  color: var(--text-color);
}

.link {
  color: var(--primary-bg);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
  color: var(--primary-bg-hover);
}

.image-section img {
  width: 100%;
  max-width: 400px;
  display: block;
}

.third-party {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.third-party-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.third-party-btn img {
  width: 24px;
  margin-right: 10px;
}

.third-party-btn p {
  margin: 0;
}

.third-party-btn.google {
  border-color: #db4437;
  margin-top: 16px;
}

.third-party-btn.facebook {
  border-color: #4267b2;
}

.third-party-btn.twitter {
  border-color: #1da1f2;
}

.third-party-btn.google:hover {
  background-color: #db4437;
  color: #fff;
}

.third-party-btn.facebook:hover {
  background-color: #4267b2;
  color: #fff;
}

.third-party-btn.twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

@media (max-width: 768px) {
  .auth {
    flex-direction: column;
  }
}
