/* Define dark mode and light mode variables of the navigation*/
:root {
  --text-color: #ecf0f1;
  --nav-link-color: white;
  --nav-link-hover-color: #bdc3c7;
  --nav-button-bg: black;
  --nav-button-color: white;
  --underline-color: white;
}

:root.light-mode {
  --text-color: #2c3e50;
  --nav-link-color: #2c3e50;
  --nav-link-hover-color: #7f8c8d;
  --nav-button-bg: white;
  --nav-button-color: black;
  --underline-color: #2c3e50;
}

/* Navigation container styles */
.nav-container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  transition-duration: 0.3s;
  transition: transform 0.3s ease;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease;
}

.nav-link {
  position: relative;
  transition: transform 0.3s ease;
  color: var(--nav-link-color);
}

.nav-link:hover {
  transform: scale(1.1);
  color: var(--nav-link-hover-color);
}

.nav-buttons {
  display: flex;
  gap: 16px;
  transition-duration: 0.3s;
}

.underline-animation {
  position: relative;
  text-decoration: none;
  color: var(--nav-link-color);
}

.underline-animation::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--underline-color);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.underline-animation:hover::before {
  visibility: visible;
  width: 100%;
}

.menu-icon {
  display: none;
}

/* Hide all the ul link and button in tablet screen */
@media screen and (max-width: 1024px) {
  .nav-links {
    display: none;
    transition-duration: 0.3s;
  }
  .nav-buttons {
    display: none;
    transition-duration: 0.3s;
  }
  /* Display this menu-icon in the tablet screen */
  .menu-icon {
    display: block;
  }
}

/* custom padding on the navigation in tablet screen */
@media screen and (max-width: 1024px) {
  .nav-container {
    padding: 0 32px;
    transition-duration: 0.3s;
  }
}
