/* Define dark mode and light mode variables */
:root {
  --text-color: #ecf0f1;
  --nav-link-color: white;
  --nav-link-hover-color: #bdc3c7;
  --nav-button-bg: black;
  --nav-button-color: white;
  --underline-color: white;
}

:root.light-mode {
  --text-color: #2c3e50;
  --nav-link-color: #2c3e50;
  --nav-link-hover-color: #7f8c8d;
  --nav-button-bg: white;
  --nav-button-color: black;
  --underline-color: #2c3e50;
}

/* Navigation container styles */
.nav-container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  transition: transform 0.3s ease;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease;
}

.nav-link {
  position: relative;
  color: var(--nav-link-color);
  transition: transform 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1);
  color: var(--nav-link-hover-color);
}

.nav-buttons {
  display: flex;
  gap: 16px;
}

.underline-animation {
  position: relative;
  text-decoration: none;
  color: var(--nav-link-color);
}

.underline-animation::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--underline-color);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.underline-animation:hover::before {
  visibility: visible;
  width: 100%;
}

.menu-icon {
  display: none;
  cursor: pointer;
}
.close-icon {
  display: none;
}

/* Hide navigation links and buttons in tablet screen */
@media screen and (max-width: 1024px) {
  .nav-links,
  .nav-buttons {
    display: none;
    transition-duration: 0.3s;
  }

  .nav-links.open,
  .nav-buttons.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: var(
      --background-color
    ); /* Adjust background color if defined */
    padding: 16px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  .nav-links.open {
    padding-top: 50px; /* To avoid overlapping with the logo */
  }

  .nav-links.closed,
  .nav-buttons.closed {
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .menu-icon {
    display: block;
  }

  .close-icon {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: var(--nav-link-color);
  }
}
