/* Define dark mode and light mode variables */
:root {
  --text-color: #ecf0f1;
  --nav-link-color: white;
  --nav-link-hover-color: #bdc3c7;
  --nav-button-bg: black;
  --nav-button-color: white;
  --underline-color: white;
}

:root.light-mode {
  --text-color: #2c3e50;
  --nav-link-color: #2c3e50;
  --nav-link-hover-color: #7f8c8d;
  --nav-button-bg: white;
  --nav-button-color: black;
  --underline-color: #2c3e50;
}

/* Navigation container styles */
.nav-container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: relative;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: var(--nav-link-color);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--nav-link-hover-color);
}

.nav-buttons {
  display: flex;
  gap: 16px;
}

.underline-animation {
  position: relative;
  text-decoration: none;
  color: var(--nav-link-color);
}

.underline-animation::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--underline-color);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.underline-animation:hover::before {
  visibility: visible;
  width: 100%;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.close-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Hidden Navigation Menu */
.menu-content {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: var(--nav-button-bg);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 16px;
}

.menu-content.open {
  transform: translateX(0);
}

.menu-content.closed {
  transform: translateX(100%);
}

.menu-content .close-icon {
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  color: var(--nav-link-color);
}

.menu-links {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.menu-link {
  margin-bottom: 16px;
}

.menu-link a {
  color: var(--nav-link-color);
  text-decoration: none;
}

.menu-link a:hover {
  color: var(--nav-link-hover-color);
}
