ul {
  list-style: none;
  margin: 16px 0;
  line-height: 1.8;
}

.plan-hero {
  margin: 64px 0px 0px 0px;
  text-align: center;
}

.purchasing-button {
  margin: 16px 0px;
}

.plans-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px 0;
  transition-duration: 0.3s;
  align-items: start;
  margin: 128px 0;
}

.plan-card {
  background-color: var(--card-bg);
  border: var(--card-border);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
  text-align: center;
  color: var(--text-color);
  transition: 0.3s;
}

.plan-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.plan-card h3 {
  margin: 0 0 10px;
}

.plan-card p {
  margin: 20px;
}

.close-button {
  display: flex;
  justify-content: end;
  cursor: pointer;
  font-size: 32px;
}

.git-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirm-gif {
  max-width: 50px;
}

/* For smaller screens, change grid layout to 2 columns */
@media screen and (max-width: 768px) {
  
}

/* For even smaller screens, change grid layout to 1 column */
@media screen and (max-width: 480px) {
  
}
