header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section-view {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 64px;
  gap: 64px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.5s;
  overflow: hidden;
}

.modal-content {
  background-color: var(--card-background-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  animation: slideIn 0.5s;
  border-radius: 10px; /* Increased border-radius for a smoother look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Added box-shadow for a professional look */
  border: 1px solid #ccc; /* Softer border color */
  text-align: center;
} 

.modal-content img {
  max-width: 20%;
  object-fit: contain;
}

.modal-content h2 {
  font-size: 24px;
  margin: 32px 0;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}

/* Animation styles on modal */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}
