:root {
    --background-image: url(./src/assets/icons/BackgroundDiary.svg);
    --text-color: #ecf0f1;
    --card-background-color: #34495e;
    --nav-button-bg: #3498db;
    --nav-button-color: white;
    --input-background-color: #ecf0f1;
    --input-text-color: #2c3e50;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --button-primary-bg: #ffffff;
    --button-primary-color: black;
    --button-primary-hover-bg: #1b263b;
    --button-primary-hover-color: white;
    --button-secondary-bg: #000000;
    --button-secondary-color: white;
    --button-secondary-hover-bg: white;
    --button-secondary-hover-color: black;
    --button-danger-bg: #f56565;
    --button-danger-hover-bg: #e53e3e;
    --button-success-bg: #48bb78;
    --button-success-hover-bg: #38a169;
    --button-warning-bg: #ecc94b;
    --button-warning-hover-bg: #d69e2e;
    --button-default-bg: #4299e1;
    --button-default-hover-bg: #3182ce;
    --user-feedback-card-bg: linear-gradient(to top, #1b263b, #3f6782, #415a77);
  }
  
  :root.light-mode {
    --background-image: url(./src/assets/icons/LightMode4.svg);
    --text-color: #2c3e50;
    --card-background-color: #bdc3c7;
    --nav-button-bg: #3498db;
    --nav-button-color: #3498db;
    --input-background-color: #fff;
    --input-text-color: #2c3e50;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --button-primary-bg: #1b263b;
    --button-primary-color: white;
    --button-primary-hover-bg: #003b7b;
    --button-primary-hover-color: #ecf0f1;
    --button-secondary-bg: #000000;
    --button-secondary-color: white;
    --button-secondary-hover-bg: #003b7b;
    --button-secondary-hover-color: white;
    --button-danger-bg: #e74c3c;
    --button-danger-hover-bg: #c0392b;
    --button-success-bg: #2ecc71;
    --button-success-hover-bg: #27ae60;
    --button-warning-bg: #f39c12;
    --button-warning-hover-bg: #e67e22;
    --button-default-bg: #9b59b6;
    --button-default-hover-bg: #8e44ad;
    --user-feedback-card-bg: gray;
  }
  
  body {
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    padding: 20px;
    transition: 0.5s;
  }
  
  .user-feedback-card {
    background: var(--user-feedback-card-bg);
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 16px;
    text-align: center;
  }
  
  .user-feedback-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px var(--shadow-color);
  }
  
  .user-feedback-card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .user-feedback-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .user-feedback-card p {
    font-size: 14px;
    line-height: 1.6;
  }
  